.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px -70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

  }
  
  .navbar img {
    width: 11rem;
    cursor: pointer;
  }
  
  .navbar ul {
    display: flex;
    gap: 1.25rem;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    padding-left: 0;
    color: black;
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  .nav-item {
    padding: 0.25rem 0;
    cursor: pointer;
  }
  
  .nav-item:hover {
    color: #007bff;
  }
  
  .nav-item.active {
    color: #5F6FFF;
  }
  
  .navbar hr {
    border: none;
    outline: none;
    height: 0.5px;
    background-color: #5F6FFF;
    width: 60%;
    margin: 0.5rem auto;
  }
   
  .navbar button {
    background-color: #5F6FFF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: 1px none;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #5263fc;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .profile-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  
  .profile-pic {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  
  
  .dropdown-icon {
    width: 8px; 
    height: 8px; 
    object-fit: contain; 
  }
  
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.5rem; 
    font-size: 1rem; 
    font-weight: 500; 
    color: #4b5563; 
    visibility: hidden; 
  }
  
  .menu.show {
    visibility: visible;
  }
  
  .menu1 {
    min-width: 12rem; 
    background-color: #f4f4f5; 
    border-radius: 0.375rem; 
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    padding: 1rem; 
  }

  .menu-p{
    color: black;
  }

  .menu-p:hover {
    color: #4b5563;
  }
  